.grail-layout {
  padding: 0 100px;
  width: 400px;
  height: 400px;
}
.grail-layout .left {
  float: left;
  margin-left: -100px;
  width: 100px;
  height: 100%;
  background-color: #f66;
}
.grail-layout .right {
  float: right;
  margin-right: -100px;
  width: 100px;
  height: 100%;
  background-color: #66f;
}
.grail-layout .center {
  height: 100%;
  background-color: #3c9;
}
