.container {
  width: 90vw;
  height: 100vh;
  display: flex;
  background-color: aquamarine;
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  /* 4.justify-content属性定义了项目在主轴上的对齐方式。
  justify-content: flex-start | flex-end | center | space-between | space-around; */
  justify-content: space-around;
  /* 5.align-items属性定义项目在交叉轴上如何对齐。
  align-items: flex-start | flex-end | center | baseline | stretch; */
  align-content: center;
  /* 6.align-content属性定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用。
  align-content: flex-start | flex-end | center | space-between | space-around | stretch;
   */
}
.container .litterBox {
  width: 150px;
  height: 50px;
  background-color: pink;
  flex-shrink: 0;
  border: 1px solid;
}
.container #box1 {
  background-color: aqua;
  order: 1;
}
.container #box2 {
  background-color: brown;
  order: 3;
}
.container #box3 {
  background-color: blue;
  order: 2;
}
.container #box4 {
  background-color: chartreuse;
}
